{{define "photo"}}

<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Head.Title}}</title>
    {{range .Head.Styles}}
    <link rel="stylesheet" href="{{.}}" type="text/css">
    {{end}}
    {{range .Head.Scripts}}
    <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
</head>
<body>
    <header>
        <img src="{{.Header.ImgSrc}}">
    </header>
    <nav>
        <ul>
            {{range .Nav.Lists}}
            <li class="shake shake-little"><a href="{{.Href}}" target="_blank">{{.Text}}</a></li>
            {{end}}
        </ul>
    </nav>
    <div class="content">
        {{range .Body}}
        <div>
            <a href="{{.Href}}" target="_blank">
                <img src="{{.Src}}"/>
            </a>
            <p>{{.Description}}</p>
        </div>
        {{end}}
        <div class="dialog">
            <img src="/img/add.jpg"/>
        </div>
    </div>
    <footer>{{.Footer.Text}}</footer>
</body>

{{end}}